<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Give product a unique ID per platform -->
  <!-- Generate new IDs when releasing a new version --> 
  <?if $(var.Platform) = x64 ?>
  <?define ProductCode = "{1F69FA65-11A7-400A-A1C7-38030ACC9A5F}"?>
  <?else?>
  <?define ProductCode = "{1E90CA62-AFA0-429A-A3FD-5E1E88C0BA7F}"?>
  <?endif?>

  <!-- Fixed upgrade ID do not change! -->
  <?define UpgradeCode = "{72F89831-0DFB-4C36-8F65-2AEB43D90DFE}"?>

  <!-- Define main product -->
  <Product Id="$(var.ProductCode)" 
           Name="!(loc.ProductName)" 
           Language="1033" 
           Version="$(var.BuildVersion)" 
           Manufacturer="The Bfme Online" 
           UpgradeCode="$(var.UpgradeCode)">

    <!-- Package details -->
    <Package 
      InstallerVersion="300" 
      Compressed="yes" 
      InstallScope="perMachine"
      Platform="$(var.Platform)"
      Manufacturer="The Bfme Online" 
      Description="Description"
      Keywords="Keywords"
      Comments="Comments"
    />

    <!-- Downgrade error message -->
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of !(loc.ProductName) is already installed." />

    <!-- Include .cab file into .msi file -->
    <MediaTemplate 
      EmbedCab="yes"  
    />

    <!-- Setup icon for the installer -->
    <Icon Id="icon" SourceFile="$(var.BfmeOnline.Launcher.ProjectDir)Resources\favicon.ico" />
    <Property Id="ARPPRODUCTICON">icon</Property>
    <!-- Help/Support website (shows in Add/Remove programs) -->
    <Property Id="ARPURLINFOABOUT">https://www.thebfmeonline.com</Property>

    <!-- Create basic UI for the installer -->
    <UIRef Id="WixUI_Minimal" />
    
    <!-- Define components, shortcuts, files, etc... -->
    <Feature Id="ProductFeature" Title="BfmeOnline.Launcher" Level="1">

      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      
		</Feature>

    <!--[INSTALLFOLDER]!(loc.TapInstall) install OemWin2k.inf tap0901"-->

    <!--ExeCommand="cmd.exe /c .\tap\tapinstall.exe install OemWin2k.inf tap0901"-->

    <CustomAction 
      Id="InstallService" 
      Return="check"
      Impersonate="no" 
      Execute="commit" 
      Directory="INSTALLFOLDER" 
      ExeCommand="cmd.exe /c .\tap\tapinstall.exe install .\tap\OemVista.inf tap0901"
      />
    
    <CustomAction 
      Id="UninstallService" 
      Return="check" 
      Impersonate="no" 
      Execute="deferred" 
      Directory="INSTALLFOLDER" 
      ExeCommand="cmd.exe /c .\tap\tapinstall.exe remove tap0901"
      />

    <CustomAction
      Id="RunAfterUpgrade"
      Return="asyncNoWait"
      Impersonate="no"
      Execute="immediate"
      Directory="INSTALLFOLDER"
      ExeCommand="cmd.exe /C start BfmeOnline.Launcher.exe"
      />
    
    <InstallExecuteSequence>
      <Custom Action="InstallService" After="InstallFiles">(NOT Installed) AND (NOT REMOVE) AND (NOT (WIX_UPGRADE_DETECTED) or (PATCH))</Custom>
      <Custom Action="RunAfterUpgrade" After="InstallFinalize">(WIX_UPGRADE_DETECTED) or (PATCH)</Custom>
      <Custom Action="UninstallService" After="InstallInitialize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
    </InstallExecuteSequence>

	</Product>

</Wix>
